.banner-hp-wrapper{
    height: 539px;
    background-image: image-url("banner/bg-hp.jpg");
}

.banner-page-wrapper{
}

.banner-page{
    height: 155px;
    background: image-url("banner/bg.jpg") no-repeat 0 0;
}