// content homepege
// ====================================

.content-hp-wrapper{
    background: image-url("content/divider.png") no-repeat center 0;
    padding: 55px 45px 45px 45px;
}

.content-hp{
    width: 480px;

    h2{
        @extend %osvald;
        font-size: 24px;
        color: #008f95;
        margin-bottom: 20px;
    }

    p{
        font-size: 18px;
        line-height: 1.5em;
        font-family: "Georgia";
        font-style: italic;

        &.read-more{
            margin-top: 20px;
            font-style: normal;

            a{
                @extend %osvald;
                color: #7a7500;
                text-decoration: none;
            }
        }
    }
}

// content standard page
// ====================================

.content-page{
    width: 684px;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 120px;

    img{
        margin-bottom: 20px;
    }

    p{
        font-size: 18px;
        line-height: 1.5em;
        font-family: "Georgia";
        font-style: italic;
        padding: 0px 52px 20px 52px;

        img{
            margin-bottom: 0;
        }
    }
}

.content__title{
    width: 644px;
    font-size: 48px;
    @extend %osvald;
    color: #008f95;
    padding-bottom: 25px;
    padding-left: 52px;
    background: image-url("content/bg-title.png") repeat-x 0 bottom;
}
