// content homepege
// ====================================

.content-hp-wrapper{
    background: image-url("content/divider.png") no-repeat center 0;
    padding: 55px 45px 45px 45px;
}

.content-hp{
    @include breakpoint($bp--s-up) {
        width: 480px;
    }

    h2{
        @extend %osvald;
        font-size: 24px;
        color: #008f95;
        margin-bottom: 20px;
    }

    p{
        font-size: 18px;
        line-height: 1.5em;
        font-family: "Georgia";
        font-style: italic;

        &.read-more{
            margin-top: 20px;
            font-style: normal;

            a{
                @extend %osvald;
                color: #7a7500;
                text-decoration: none;
            }
        }
    }
}

// content standard page
// ====================================

.content-page{
    @include breakpoint($bp--s-up) {
        width: 684px;
        padding-top: 20px;
        padding-left: 40px;
        padding-bottom: 120px;
    }

    img{
        margin-bottom: 20px;
        width: 100%;
        @include breakpoint($bp--s-up) {
            width: auto;
        }
    }

    p{
        font-size: 18px;
        line-height: 1.5em;
        font-family: "Georgia";
        font-style: italic;
        padding: 20px;
        @include breakpoint($bp--s-up) {
            padding: 0px 52px 20px 52px;
        }

        img{
            margin-bottom: 0;
            width: auto;
            @include breakpoint($bp--s-up) {
            }
        }
    }
}

.content__title{
    text-align: center;
    font-size: 30px;
    @extend %osvald-light;
    color: #008f95;
    padding-bottom: 25px;
    margin-top: 25px;
    background: image-url("content/bg-title.png") repeat-x 0 bottom;

    @include breakpoint($bp--s-up) {
        width: 644px;
        text-align: left;
        font-size: 48px;
        padding-left: 52px;
        margin-top: 0;
    }
}
