%osvald{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

%osvald-light{
    @extend %osvald;
    font-weight: 300;
}

%osvald-bold{
    @extend %osvald;
    font-weight: 700;
}

%ir{
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 0 0;
}