


* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    font-size: 13px;
    margin: 0;
    padding: 0;
    margin-top: 76px;
    background: image-url("content/bg.png");
    @include breakpoint($bp--s-up) {
        margin-top: 0;
    }
}

h1, h2, h3, h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

p{
    margin: 0;
}

// responsivita
// ====================================

.is-envelope{
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 0;
}

.is-content{
    text-align: left;
    position: relative;
    @include breakpoint($bp--l-up) {
        width: 1000px;
        margin: 0 auto;
    }
}