.slider-wrapper{
    height: 149px;
    margin-bottom: 30px;
}

.slider{
    position: absolute;
    width: 900px;
    top: -150px;
    left: 50%;
    margin-left: -450px;
}

.slideshow{
    @include cf;
    width: 2000em;
    height: 299px;
}

.slider__page{
    display: block;
    float: left;
    width: 900px;
    height: 299px;
    font-size: 0;
}

.slider__item{
    display: inline-block;
    width: 299px;
    height: 299px;
    margin-right: 1px;
}