.slider-wrapper{
    display: none;
    height: 149px;
    margin-bottom: 30px;
    @include breakpoint($bp--s-up) {
        display: block;
    }
}

.slider-w{
    position: absolute;
    width: 920px;
    height: 300px;
    top: -150px;
    overflow: hidden;
    @include breakpoint($bp--l-up) {
        left: 50%;
        margin-left: -450px;
    }
}

.slideshow{
    margin: 0;
    padding: 0;
}

.slider__page{
}

.slider__item{
    display: inline-block;
    width: 299px;
    height: 299px;
    margin: 0 45px;
    background: image-url("slider/bg.png") no-repeat center center;
    @include breakpoint($bp--l-up) {
        margin: 0;
        margin-right: 1px;
    }
}

.slider__mask{
    width: 263px;
    height: 263px;
    @include border-radius(263px);
    @include background-clip(padding-box);
    overflow: hidden;
    margin: 18px;
}